<header class="py-2 px-4 ">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
  </div>
</header>
<main class="py-2 px-4  ">
  <div class="  ">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
